$main-wrapper-height: 800px;

$default-input-width: 306px;
$default-input-height: 44px;

$default-icon-width: 20px;
$default-icon-height: 18px;
$semi-bold-font-weight: 600;

$default-font-size: 13px;
$default-line-height: 24px;

$default-margin: 8px;
$default-padding: 13px;
$default-block-padding: 24px;

$default-border-radius: 8px;

$disabled-opacity: 0.6;

$white-color: #ffffff;
$blue-ribbon-color: #005bff;
$mystic-color: #e6ebf0;
$cultured-pearl-color: #f5f5f5;
$half-dutch-white-color: #fef6e0;
$frostee-color: #e4f5e8;
$black-coral-pearl-color: #57626d;
$aqua-haze-color: #eff3f6;
$geyser-color: #d6dfe7;
$success-400-color: #1dae40;
$warning-400-color: #f7b200;
$gray-color: rgba(0, 17, 34, 0.66);
$text-500-color: rgba(0, 17, 34, 0.95);
$fiolet-color: rgb(64, 0, 148);
$milky-white-color: rgb(207, 205, 245);
